@font-face {
  font-family: 'metal';
  src: url('blackmetal.ttf');
}

body {
  background: #000;
}

p {
  margin: 0;
}

.content {
  padding: 150px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.logotype {
  font-family: 'metal';
  font-size: 280px;
  margin: 0;
  letter-spacing: 0.3rem;
  text-align: center;
}

.logotype.dark {
  color: black;
  text-shadow: 0 0 15px #f00, 0 0 35px #a33, 0 0 70px #fff, 0 0 150px #fff;
}

.logotype.white {
  color: white;
  text-shadow: 0 0 15px #000, 0 0 32px #000, 0 0 35px #000, 0 0 70px #f00, 0 0 150px #f00;
}

@media (max-width: 768px) {
  .content {
    row-gap: 8rem;
  }
  .logotype {
    line-height: 0.9;
    font-size: 150px;
  }
}
